QMainWindow {
    background-color: #1a1a1a;
}

ChessWidget {
    background-color: #242424;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    padding: 10px;
}


QPushButton:checked {
    background-color: #e0b232;
}
